* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: blanchedalmond;
}
#principal {
    text-align: justify;
    margin: auto;
    height: auto;
    background-color: azure;
    width: 45%;
    height: auto;
    padding: 1%;
    margin-top: 1%;
}
#title {
    font-size: 50px;
    text-align: center;
}
.input {
    text-align: center;
}
.divs {
    margin: 4%;
    font-size: 20px;
}
#pfinal {
    text-align: center;
    font-size: 25px;
}
#divfinal {
    text-align: center;
}
#image {
    width: 30%;
    height: 30%;
}
